.page-header {
    background: $off-white;
    padding : $lg-size 0;
    margin-bottom: $lg-size;
}

.page-header__actions {
    margin-top: $med-size;
}

.page-header__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: 700;
    }
}